:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 16px;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #E07A5F;
  --secondary: #555B6E;
  --tertiary: #A8D5BA;

  --success: #81C784;
  --warning: #F4A261;
  --danger: #E63946;

  --background: #FAF3DD;
  --background-secondary: #E5E5E5;
  --background-tertiary: #A8D5BA;
  
  --border: #D3D3D3;
  --border-radius: 0.25rem;
  --spacing: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
